	* {
		margin: 0px;
		padding: 0px;
	}

	body {
		background-image: url(background.jpg);
		background-size: cover;
	}

	hr {
		border: 3px dotted #000000;
	}

	.container {
		background-color: rgba(181, 234, 255, 0.5);
		text-align: center;
		padding: 30px;
		border-radius: 20px;
	}

	.container h1 {
		color: rgba(231, 255, 255, 1);
		text-shadow: 2px 2px 10px #000000;
	}

	.alert {
		padding: 20px;
		margin-bottom: 50px;
	}

	.card {
		border: 3px solid #FFFFFF;
		border-radius: 5px;
		padding: 20px;
		background-color: rgba(195, 255, 255, 0.5);
		margin-bottom: 50px;
	}

	.footer {
		background-color: rgba(195, 255, 255, 0.5);
   		color: rgba(231, 255, 255, 1);
   		text-shadow: 2px 2px 10px #000000;
   		text-align: center;
   		padding: 30px;
   		bottom: 0;
	}